body,html{
 font-size:35px;
  height:1766px;
  color:#FFF59D  ;
  font-family:fantasy;
 background-size: cover;
  background-repeat:no-repeat;
  background-position:left;
}

.container{
  font-size:60px;
}

.btn-linkedin {
	  background: #0E76A8;
  }

