body,html{
 font-size:35px;
  min-height:1766px;
  color:white  ;
  font-family:fantasy;
 background-size: cover;
  background-repeat:no-repeat;
  background-position:left;
  
}

.footer { 
  margin-top:100px  ;
    display: ;
}
.container{
font-size:40px;
}

.btn-linkedin {
	  background: #0E76A8;
  }

