body{

 background-size:100%,100%;
 font-size:30px;
  height:1366px;
  color:white;
  position: relative;
  font-family:Monospace,Inknut Antiqua;
 background-size: cover;
  background-repeat:no-repeat;
}

